h1{
    text-align: center;
    background-color: blanchedalmond;
    color: chocolate;
    text-shadow: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h4{
    text-align: center;
    background-color: blanchedalmond;
    color: chocolate;
}
table,caption,th,td{
    
    table-layout:auto;
    tab-size: contain;
    text-align: center;
    border: 1px solid plum;
    background-color: bisque ;
    border-collapse: separate;
    padding: 15px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


body{
    background-image: url(/recipes/images/image.jpg);
    background-size: contain;
    background-attachment: fixed;
}

.header{
    margin-top: 50px;
    margin-left: 300px;
    display: inline-block;
    color: black;
    font-size: 20px;
    border: 2px dotted chocolate;
    padding: 20px;
    background-color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.navbar{
    
    font-size: 15px;
    max-width: 500px;
    color: black;
    display: inline-block;
    border: 2px solid chocolate;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 400px;
    background-color: beige;
    outline: 20px solid blanchedalmond;
    text-align: justify;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
